<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Clientes</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/jquery-mask-plugin/dist/jquery.mask.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <br />
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            <p>S&S Advogados - Copyright &amp;copy; 2020</p>
            <p>Av. Engenheiro Luís Carlos Berrini, 1461 - 3º Andar - Cidada Monções - São Paulo/SP</p>
            <p><a href="#" class="nav-link">11 2737-4496</a></p>
        </div>
    </footer>

    
</body>
    </html>
